body {
    font-family: sans-serif;
}

header{
    background-color: #000000;
}

p, h1{
    text-align: center;
}

main img{
    width: 280px;
    height: 210px;
}

footer{
    background-color: black;
}
